.card_Body {
  margin-bottom: 0rem;
  background-color: #ccd7b7;
  /* height: 100%; */
  width: 100%;
  padding: 3.5rem;
  padding-bottom: 6rem;
  padding: 10px 390px 20px;
}

.addtaskform {
  border: 1px solid black;
  background-color: white;
  /* top: 2rem; */
  width: 100%;
  height: 100%;
  padding: 3rem;
}

.error {
  /* border: 1px solid red; */
  color: red;
}

.ArrowBackIcon {
  background-color: blue;
  width: 5%;
  color: white;
  cursor: pointer;
  border-radius: 0.8rem;
}
